<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>        
        <section name="iDeal" type="iDeal.Configuration.ConfigurationSectionHandler, iDeal" allowLocation="true" allowDefinition="Everywhere" />             
    </configSections>

    <iDeal>
        <merchant id="123456789" subId="0" />
        <acquirer url="https://www.ideal-simulator.nl:443/professional/" />
        <!-- filename takes presedence over storename -->
        <privateCertificate filename="Util\TestCertificates\idealsim_private.pfx" password="idealsim" storeName="My" name="Test" />
        <publicCertificate filename="Util\TestCertificates\idealsim_bank.cer" storeName="My" name="TestBank" />  
    </iDeal>   
</configuration>