<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>        
        <section name="iDeal" type="iDeal.Configuration.ConfigurationSectionHandler, iDeal" allowLocation="true" allowDefinition="Everywhere" />             
    </configSections>

    <iDeal>
        <merchant id="123456789" subId="0" />
        <acquirer url="https://www.ideal-simulator.nl:443/professional/" />
        <!-- filename takes presedence over storename -->
        <acceptantCertificate filename="Util\TestCertificates\idealsim_private.pfx" password="idealsim" storeLocation="LocalMachine" storeName="My" thumbprint="48 fa ca 26 2a 9f 76 66 67 f0 bf 2f ed 54 b8 db 16 f9 10 87" />
        <acquirerCertificate filename="Util\TestCertificates\idealsim_public.cer" storeLocation="LocalMachine" storeName="My" thumbprint="6c fc 36 38 9c 7a 3c 49 44 0b 87 33 d2 58 cb 21 67 fa c1 8f"/>
    </iDeal>   
</configuration>